@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts//Vazirmatn-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Arahala";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/SH-AraHala.ttf");
}

@font-face {
  font-family: "Ordibehesht";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Ordibehesht.TTF");
}

@font-face {
  font-family: "Zar";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/B Zar_0.ttf");
}

@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Lalezar-Regular.ttf");
}