@import url('/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: var(--background-app-rgb);
}

.rti--container {
    background-color: rgb(var(--color-secondary-100));
    --rti-radius: 0.375rem;
    --rti-s: 0.5rem;
    --rti-tag: #edf2f7;
    --rti-tag-remove: #e53e3e;
    border: none;
}

.rti--container .rti--input {
    background-color: rgb(var(--color-secondary-200));
    color: rgb(var(--color-secondary-800));
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
}

.rti--tag {
    background-color: rgb(var(--color-secondary-500));
    color: rgb(var(--color-secondary-700));
}


@layer base {
    :root {

        &,
        &.light-mode {
            --background-app-rgb: 255, 255, 255;
            --color-primary-900: 74, 109, 255;
            --color-primary-800: 92, 124, 255;
            --color-primary-700: 110, 138, 255;
            --color-primary-600: 128, 153, 255;
            --color-primary-500: 146, 167, 255;
            --color-primary-400: 164, 182, 255;
            --color-primary-300: 183, 197, 255;
            --color-primary-200: 201, 211, 255;
            --color-primary-100: 219, 226, 255;
            --color-primary-50: 228, 233, 255;
            --color-secondary-900: 17, 24, 39;
            --color-secondary-800: 31, 41, 55;
            --color-secondary-700: 55, 65, 81;
            --color-secondary-600: 75, 85, 99;
            --color-secondary-500: 107, 114, 128;
            --color-secondary-400: 156, 163, 175;
            --color-secondary-300: 209, 213, 219;
            --color-secondary-200: 229, 231, 235;
            --color-secondary-100: 243, 244, 246;
            --color-secondary-50: 249, 250, 251;
            --color-secondary-0: 255, 255, 255;
            --color-success: 0, 192, 115;
            --color-warning: 255, 153, 0;
            --color-error: 255, 71, 87;
            --color-red-500: 239, 68, 68;
            --color-red-300: 252, 165, 165;
            --color-purple: 123, 107, 212;
            --color-pink: 253, 73, 107;
            --color-green:4, 172, 65;
        }

        &.dark-mode {
            --color-secondary-900: 249, 250, 251;
            --color-secondary-800: 243, 244, 246;
            --color-secondary-700: 229, 231, 235;
            --color-secondary-600: 209, 213, 219;
            --color-secondary-500: 156, 163, 175;
            --color-secondary-400: 107, 114, 128;
            --color-secondary-300: 75, 85, 99;
            --color-secondary-200: 55, 65, 81;
            --color-secondary-100: 31, 41, 55;
            --color-secondary-50: 17, 24, 39;
            --color-secondary-0: 24, 33, 47;
            --backdrop-color: 0, 0, 0;
        }
    }
}

@layer components {
    .textFailed {
        @apply w-full bg-secondary-100 border border-primary-500 rounded-xl py-2 outline-none transition-all duration-300 focus:border-primary-900 focus:shadow-lg focus:shadow-primary-300
    }

    .btn {
        @apply outline-none border-none rounded-xl font-bold
    }

    .btn--primary {
        @apply bg-primary-800 text-secondary-0 p-2
    }

    .btn--secondary {
        @apply bg-secondary-300 text-secondary-900 p-2
    }

    .icon {
        @apply w-5 h-5
    }

    .badge {
        @apply rounded-2xl px-3 py-0.5
    }

    .badge--secondary {
        @apply bg-secondary-300 text-secondary-800
    }

    .badge--danger {
        @apply bg-error text-secondary-0
    }

    .badge--success {
        @apply bg-success text-secondary-0
    }


    /* .navLinkClass {
        @apply flex items-center gap-x-3 px-2 py-2 rounded-tr-lg rounded-br-lg transition-all duration-100 relative
    }

    .navLinkHoverClass {
        @apply hover:after:shadow-[-20px_-20px_0_10px]  hover:after:content-[''] hover:after:w-[20px] hover:after:duration-0 hover:after:transition-all hover:after:h-[20px] hover:after:bg-transparent hover:after:shadow-secondary-0 hover:after:absolute hover:after:-bottom-[20px] hover:after:rounded-[50%] hover:after:left-0 hover:before:shadow-[-20px_20px_0_10px]  hover:before:content-[''] hover:before:w-[20px] hover:before:duration-0 hover:before:transition-all hover:before:h-[20px] hover:before:bg-transparent hover:before:shadow-secondary-0 hover:before:absolute hover:before:-top-[20px] hover:before:rounded-[50%] hover:before:left-0 hover:bg-secondary-100 hover:text-primary-800
    }

    .navLinkAfterClass {
        @apply after:shadow-[-20px_-20px_0_10px]  after:content-[''] after:w-[20px] after:duration-0 hover:bg-secondary-100 hover:text-primary-800 after:transition-all after:h-[20px] after:bg-transparent after:shadow-secondary-0 after:absolute after:-bottom-[20px] after:rounded-[50%] after:left-0
    }

    .navLinkBeforeClass {
        @apply before:shadow-[-20px_20px_0_10px]   before:content-[''] before:w-[20px] before:duration-0 before:transition-all before:h-[20px] before:bg-transparent before:shadow-secondary-0 before:absolute before:-top-[20px] before:rounded-[50%] before:left-0
    } */
}

.PhoneInput--focus input {
    outline: none;
}

.PhoneInput {
    outline: none;
    padding: .5rem;
    background-color: transparent;
}

.PhoneInputCountry {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Table */
table {
    width: 100%;
    margin-top: 2rem;

}

thead {
    background-color: transparent;
    border-bottom: 2px solid rgb(var(--color-primary-800));
}

th {
    color: rgb(var(--color-secondary-400));
    font-size: .9rem;
    padding: .5rem 0;
}

tr:nth-child(even) {
    background-color: rgb(var(--color-secondary-200));
}

td {
    text-align: center;
    padding: .7rem 0;
}

td:nth-child(1) {
    padding: .7rem.5rem .7rem 0;
}